.a
{
	background:red;

}

.b
{
background:blue;	
}

.c
{
background:green;	
}

.x
{
background:orange;	
height: 100px;
}

.y
{
background:yellow;
height: 100px;	
}


.e
{
background:black;
height: 200px;	

}


.f
{
background:skyblue;	
height: 100px;
}

.g
{
	background:pink;
}

.k
{
	background:gray;
	height: 100px;
}
.l
{
	background:maroon;
	height: 100px;
}


.m
{
	background:silver;
	height: 100px;
}

.photo
{
	
	height: 100px;
}


